body {
    font-family: 'Roboto', sans-serif; /* Cambiado a Roboto */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 600px; /* Ancho máximo para el contenido */
    margin: 40px auto; /* Espaciado superior e inferior */
    background: #ffffff;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a; /* Color del encabezado de la sección */
}

.timeline {
    list-style-type: none; /* Quitar los puntos de la lista */
    padding: 0; /* Quitar el padding de la lista */
}

.post {
    border-bottom: 1px solid #ccc; /* Línea debajo de cada publicación */
    padding: 15px 0; /* Espaciado superior e inferior */
}

.post-header {
    display: flex; /* Usar flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre el autor y la marca de tiempo */
    font-weight: bold; /* Negrita para el nombre del autor */
}

.timestamp {
    color: #888; /* Color gris para la marca de tiempo */
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}

footer p {
    margin: 0;
}
